.pricing-section {
    background-color: hsl(208, 44%, 22%);
    color: white;
    text-align: center;
    padding: 50px 20px;
    padding-top:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pricing-section h1 {
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 36px;
    margin-bottom: 10px;
}
.pricing-section p {
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 30px;
}
.link-to-pricing {
    color: #79b3cc;
    text-decoration: none;
}
.select-container{
    width: 20vw;
    color:rgb(79, 79, 79);
    font-size: 18px;
    min-width:300px;
    font-family: Lato, cursive;
}