.History-container{
    display: flex;
    flex-direction: column;
}

.History-Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notre-histoire,.ilya{text-align: center;}
.Hist-mini-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.Hist-text{
    width:60vw;
}
.Hist-img{
    border-radius: 2px;
    width: 29vw;
}